@page "{id:int}"
@model Identity.Pages.Admin.SamlServiceProviders.DetailsModel
@{
    ViewData["Title"] = "SAML SP Details";
}

<h1>@Model.SamlServiceProvider.EntityId</h1>

<dl class="row">
    <dt class="col-sm-3">Entity ID</dt>
    <dd class="col-sm-9">@Model.SamlServiceProvider.EntityId</dd>
    <dt class="col-sm-3">Display Name</dt>
    <dd class="col-sm-9">@Model.SamlServiceProvider.DisplayName</dd>
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">@Model.SamlServiceProvider.Description</dd>
    <dt class="col-sm-3">Enabled</dt>
    <dd class="col-sm-9">@Model.SamlServiceProvider.Enabled</dd>
    <dt class="col-sm-3">Created</dt>
    <dd class="col-sm-9">@Model.SamlServiceProvider.Created</dd>
</dl>

<a id="btn-edit" asp-page="./Edit" asp-route-id="@Model.SamlServiceProvider.Id" class="btn btn-primary">Edit</a>
<a id="btn-delete" asp-page="./Delete" asp-route-id="@Model.SamlServiceProvider.Id" class="btn btn-danger">Delete</a>
<a id="btn-back" asp-page="./Index" class="btn btn-outline-secondary">Back</a>
