@page "{id:int}"
@model Identity.Pages.Admin.IdentityResources.Details.IndexModel
@{
    ViewData["Title"] = "Identity Resource Details";
}

<h1>Identity Resource: @Model.Resource.Name</h1>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Resource.Name</dd>
    <dt class="col-sm-3">Display Name</dt>
    <dd class="col-sm-9">@Model.Resource.DisplayName</dd>
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">@Model.Resource.Description</dd>
    <dt class="col-sm-3">Enabled</dt>
    <dd class="col-sm-9">@Model.Resource.Enabled</dd>
    <dt class="col-sm-3">Required</dt>
    <dd class="col-sm-9">@Model.Resource.Required</dd>
    <dt class="col-sm-3">Emphasize</dt>
    <dd class="col-sm-9">@Model.Resource.Emphasize</dd>
    <dt class="col-sm-3">Show In Discovery</dt>
    <dd class="col-sm-9">@Model.Resource.ShowInDiscoveryDocument</dd>
</dl>

<div class="mb-3">
    <a id="nav-claimtypes" asp-page="./ClaimTypes" asp-route-id="@Model.Resource.Id" class="btn btn-outline-secondary btn-sm">Claim Types</a>
    <a id="nav-properties" asp-page="./Properties" asp-route-id="@Model.Resource.Id" class="btn btn-outline-secondary btn-sm">Properties</a>
    <a id="btn-edit" asp-page="../Edit/Index" asp-route-id="@Model.Resource.Id" class="btn btn-outline-secondary btn-sm">Edit</a>
    <a id="btn-back" asp-page="../Index" class="btn btn-outline-secondary btn-sm">Back</a>
</div>
