@page
@model PostLogoutRedirectUrisModel

@{
    ViewData["Title"] = "Edit Client Post-Logout Redirect URIs";
}

<h1>Edit Client Post-Logout Redirect URIs</h1>

<form method="post">
    <table class="table table-bordered table-sm">
        <thead class="table-light">
            <tr>
                <th>Post-Logout Redirect URI</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.PostLogoutRedirectUris.Count; i++)
            {
                <tr>
                    <input type="hidden" name="PostLogoutRedirectUris[@i].Id" value="@Model.PostLogoutRedirectUris[i].Id" />
                    <td><input id="postlogoutredirecturi-@i" name="PostLogoutRedirectUris[@i].PostLogoutRedirectUri" value="@Model.PostLogoutRedirectUris[i].PostLogoutRedirectUri" class="form-control form-control-sm" aria-label="Post-logout redirect URI" /></td>
                    <td><button id="postlogoutredirecturi-remove-@i" type="submit" asp-page-handler="RemoveRow" asp-route-id="@Model.Client.Id" asp-route-index="@i" class="btn btn-sm btn-danger">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
    <button id="btn-add-row" type="submit" asp-page-handler="AddRow" asp-route-id="@Model.Client.Id" class="btn btn-sm btn-outline-secondary mb-3">Add</button>
    <div>
        <button id="save-submit" type="submit" asp-route-id="@Model.Client.Id" class="btn btn-primary">Save</button>
        <a asp-page="/Admin/Clients/Details/PostLogoutRedirectUris" asp-route-id="@Model.Client.Id" class="btn btn-outline-secondary ms-1">Cancel</a>
    </div>
</form>
