@page
@model RedirectUrisModel

@{
    ViewData["Title"] = "Edit Client Redirect URIs";
}

<h1>Edit Client Redirect URIs</h1>

<form method="post">
    <table class="table table-bordered table-sm">
        <thead class="table-light">
            <tr>
                <th>Redirect URI</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.RedirectUris.Count; i++)
            {
                <tr>
                    <input type="hidden" name="RedirectUris[@i].Id" value="@Model.RedirectUris[i].Id" />
                    <td><input id="redirecturi-@i" name="RedirectUris[@i].RedirectUri" value="@Model.RedirectUris[i].RedirectUri" class="form-control form-control-sm" aria-label="Redirect URI" /></td>
                    <td><button id="redirecturi-remove-@i" type="submit" asp-page-handler="RemoveRow" asp-route-id="@Model.Client.Id" asp-route-index="@i" class="btn btn-sm btn-danger">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
    <button id="btn-add-row" type="submit" asp-page-handler="AddRow" asp-route-id="@Model.Client.Id" class="btn btn-sm btn-outline-secondary mb-3">Add</button>
    <div>
        <button id="save-submit" type="submit" asp-route-id="@Model.Client.Id" class="btn btn-primary">Save</button>
        <a asp-page="/Admin/Clients/Details/RedirectUris" asp-route-id="@Model.Client.Id" class="btn btn-outline-secondary ms-1">Cancel</a>
    </div>
</form>
